/*--==================== FUENTES ========================--*/
@font-face {
	font-family: "bell_regular";
	src: url(../font/bell.ttf) format("truetype");
}
@font-face {
	font-family: "bell_bold";
	src: url(../font/BELLB.TTF) format("truetype");
}
@font-face {
	font-family: "calibri_normal";
	src: url(../font/calibri.ttf) format("truetype");
}
@font-face {
	font-family: "calibri_light";
	src: url(../font/calibril.ttf) format("truetype");
}
@font-face {
	font-family: "calibri_bold";
	src: url(../font/calibrib.ttf) format("truetype");
}
@font-face {
	font-family: "my_riad_pro_bold";
	src: url(../font/MyriadPro-Bold.otf) format("opentype");
}
@font-face {
	font-family: "poiret_one_regular";
	src: url(../font/PoiretOne-Regular.ttf) format("truetype");
}

/*--==================== ESTILOS GENERALES ========================--*/

body{
	color: black;
	margin: 0;
	width: 100%;
}
.clear{
	clear: both;
}
.contenedor{
	margin: 0 auto;
	width: 90%;
}










 #gallery_01 img{border:2px solid white;}
 
 /*Change the colour*/
 .active img{border:2px solid #333 !important;}




/*--============    ESTILOS DEL MENU (INICIO)  ============--*/
header{
	font-family: 'Poiret one', cursive;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 90%;
}

/*== ESTILOS VENTANA MODAL ROCHI KAHN VIDEO (INICIA) ==*/
#cerrar{
	display: none;
}
#cerrar + label{
	animation: modal 1s 2s forwards;
	color: white;
	cursor: pointer;
	font-size: 25px;
	height: 40px;
	line-height: 40px;
	opacity: 0;
	position: fixed;
	right: 10px;
	text-align: center;
	visibility: hidden;
	width: 40px;
	z-index: 50;
}
.modal{
	animation: modal 1s 2s forwards;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	height: 100vh;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 30;
}
.contenido{
	height: auto;
	margin: auto;
	text-align: center;
	width: 70%;
}
.contenido video{
	width: 100%;
}
#cerrar:checked + label, #cerrar:checked ~ .modal{
	display: none;
}
@keyframes modal{
	100%{
		opacity: 1;
		visibility: visible;
	}
}
/*== ESTILOS VENTANA MODAL ROCHI KAHN VIDEO (TERMINA) ==*/

.menu-izquierda{
	float: left;
	font-size: 1.2em;
	font-weight: bolder;
	padding-top: 4%;
	width: 42.5%;
}
nav ul{
	display: flex;
	list-style: none;
	padding-left: 0;
}
nav li{
	flex-grow: 1;
	-webkit-flex-grow: 1;
	text-align: center;
}

nav ul li a{
	color: black;
	display: block;
	padding-right: 10%;
	text-decoration: none;
}
nav ul li a:hover{
	color: #ea4a94;
}
.logo{
	float: left;
	width: 15%;
}
.logo img{
	width: 100%;
}
.menu-derecha{
	float: left;
	font-size: 1.2em;
	font-weight: bolder;
	padding-top: 4%;
	width: 42.5%;
}
.continuacion{
	float: left;
	width: 80%;
}
.redes-sociales{
	float: left;
	padding-top: 3%;
	width: 20%;
}
.facebook{
	background: url(../img/menu/facebook-rochikahn.gif) no-repeat left;
	background-size: 200% 100%;
	float: right;
	height: 30px;
	width: 30px;
}
.facebook:hover{
	background: url(../img/menu/facebook-rochikahn.gif) no-repeat right;
	background-size: 200% 100%;
}
.twitter{
	background: url(../img/menu/twitter-rochikahn.gif) no-repeat left;
	background-size: 200% 100%;
	float: right;
	height: 30px;
	width: 30px;
}
.twitter:hover{
	background: url(../img/menu/twitter-rochikahn.gif) no-repeat right;
	background-size: 200% 100%;
}
.youtube{
	background: url(../img/menu/youtube-rochikahn.gif) no-repeat left;
	background-size: 200% 100%;
	float: right;
	height: 30px;
	width: 30px;
}
.youtube:hover{
	background: url(../img/menu/youtube-rochikahn.gif) no-repeat right;
	background-size: 200% 100%;
}


.menu-responsive{
	display: none;
	position: relative;
	width: 100%;
}
.menu-responsive label{
	display: block;
	height: 30px;
	width: 30px;
}
.menu-responsive label:hover{
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
}
.menu-responsive img{
	margin: 0;
	padding: 0;
	width: 30px;
}
#btn-menu{
	display: none;
}
.menu{
	background-color: rgba(255,255,255,0.5);
	left: -500px;
	position: absolute;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	width: 200px;
	z-index: 1000;
}
.menu ul{
	display: flex;
	flex-direction: column;
  	list-style: none;
  	margin: 0;
  	padding: 0;	
}
.menu li a{
	color: black;
 	display: block;
  	font-size: 1em;
  	padding: 15px 20px 15px 0;
  	text-align: left;
  	text-decoration: none;  	
}
#btn-menu:checked ~ .menu{
	left: 0;
} 
/*--============    ESTILOS DEL MENU (FIN)  ============--*/

/*--============    ESTILOS DEL SLIDER (INICIO)  ============--*/
.contenedor-slider{
	display: flex;
	margin: 0 auto;
	position: relative;
	width: 90%;
}
#contenedor-slider{
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#slider{
	display: flex;
	width: 300%;
}
#slider section{
	width: 100%;
}
#slider img{
	display: block;
	height: 100%;
	width: 100%;
}
#btn-next, #btn-prev{
	cursor: pointer;
	height: 5%;
	position: absolute;
	top: 45%;
	width: 2.5%;
	transform: translateY(-50%);
}
#btn-prev{
	left: -60px;
}
#btn-next{
	right: -60px;
}
#btn-next img, #btn-prev img{
	width: 100%;
}
.nueva-coleccion{
	margin: 0 auto;
	position: absolute;
	top: 30px;
	width: 100%;
}
.texto-nueva{
	display: flex;
	justify-content: flex-end;
}
.img-nueva-1{
	padding-left: 200px;
	height: 16px;
	margin-top: 4px;
	width: 16px;
}

.texto-nueva a{
text-decoration: none;
color: black;
}

.texto-nueva a:hover{

color: gray;
}

.p-nueva{
	font-family: "bell_regular";
	font-size: 0.8em;
	letter-spacing: 0.2em;
	margin: 0;
	padding-top: 5px;
	text-align: center;
	width: 15%;
}
.img-nueva-2{
	height: 22px;
	margin-right: -150px;
}
.fecha-nueva{
	display: flex;
	justify-content: center;
	
}
.fecha-nueva img{
	height: 16px;
	padding-left:250px;
}
.fecha-nueva p{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.2em;
	margin: 0;
	padding-left: 1%;
}
/*--============    ESTILOS DEL SLIDER (FIN)  ============--*/

/*--============    ESTILOS DEL CUERPO INDEX (INICIO)  ============--*/
.edicion-limitada{
	margin: 0 auto;
	width: 90%;
}
#izquierda-edicion{
	float: left;
	width: 60%;
}
.espacio-edicion{
	padding-top: 45%;
	width: 100%;
}
.titulo-edicion{
	display: flex;
	float: right;
	width: 80%
}
.img-edicion-1{
	height:25px;
	float:left;
	width:25px;
}
#izquierda-edicion .titulo-edicion .p-edicion{
	float:left;
	margin:0;
	padding:0;
	text-align:center;
	width:60%;
}
.img-edicion-2{
	float:left;
	height:25px;
}
#izquierda-edicion p{
	font-family: "bell_regular";
	font-size: 1.5em;
	letter-spacing: 0.5em;
	margin-bottom: 0;
	margin-left: 30%;
}
#izquierda-edicion ul{
	font-size: 1.5em;
	list-style: none;
	margin-left: 30%;
	padding: 0;
}
#izquierda-edicion ul li{
	padding: 35px;
	padding-left: 0;
}
#izquierda-edicion ul li i{
	padding-right: 15px;
}
#izquierda-edicion ul li a{
	color: black;
	font-family: "calibri_light";
	letter-spacing: 0.3em;
	text-decoration: none;
}

#izquierda-edicion ul li a:hover{
	color: #ea4a94;
	
}

#derecha-edicion{
	background: url(../img/index/edicion-limitada-rochi-kahn.jpg) no-repeat left;
	background-size: 200% 100%;
	float: left;
	width: 40%;
}
#derecha-edicion:hover{
	background: url(../img/index/edicion-limitada-rochi-kahn.jpg) no-repeat right;
	background-size: 200.4% 100%;
}
#derecha-edicion img{
	width: 100%;
}
.experiencias{
	margin: 0 auto;
	width: 90%;
}
.espacio-experiencias{
	padding-top: 70%;
	width: 100%;
}
.titulo-experiencias{
	display: flex;
	float: left;
	width: 80%
}
.img-experiencias-1{
	float:left; 
	height:25px;
}
#derecha-experiencias .titulo-experiencias .p-experiencias{
	margin:0;
	padding:0;
	text-align:center;
	width:60%;
}
.img-experiencias-2{
	height:25px;
	margin-top:-0.7%;
	width:25px;
}
#izquierda-experiencias{
	background: url(../img/index/experiencias-rochi-kahn.jpg) no-repeat left;
	background-size: 200% 100%;
	float: left;
	width: 60%
}
#izquierda-experiencias:hover{
	background: url(../img/index/experiencias-rochi-kahn.jpg) no-repeat right;
	background-size: 200.3% 100%;
}
#izquierda-experiencias img{
	width: 100%;
}
#derecha-experiencias{
	float: left;
	width: 40%;
}
#derecha-experiencias p{
	font-family: "bell_regular";
	font-size: 1.5em;
	letter-spacing: 0.5em;
	margin-bottom: 0;
	margin-left: 30%;
}
#derecha-experiencias ul{
	font-size: 1.5em;
	list-style: none;
	margin-bottom: 0;
	margin-left: 30%;
	margin-top: 0;
	padding: 0;
}
#derecha-experiencias ul li{
	padding: 35px;
	padding-left: 0;
}
#derecha-experiencias ul li i{
	padding-right: 15px;
}
#derecha-experiencias ul li a{
	color: black;
	font-family: "calibri_light";
	letter-spacing: 0.3em;
	text-decoration: none;
}
#derecha-experiencias ul li a:hover{
	color: #ea4a94;
}
#derecha-experiencias ul li ul{
	font-size: 0.8em;
	margin-left: 7%;
}
.menu-experiencias #accordion{
	margin-top: 15px;
}
.accordion .link {
	cursor: pointer;
	display: block;
	font-family: "calibri_light";
	letter-spacing: 0.3em;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion .link:hover {
	color:#ea4a94;
}

.accordion li.open i.fa-caret-right{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.submenu{
	display: none;
}



.titulo-trayectoria-2{
	background: url(../img/trayectoria/linea.gif);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	margin: 0 auto;
	width: 100%;
}
.texto-titulo-trayectoria-2{
	background: url(../img/trayectoria/circulos.gif);
	background-size: 100% 19px;
	margin: 0 auto;
	width: 20%;
	height: auto;
}
.texto-titulo-trayectoria-2 p{
	font-size: 1.1em;
	margin-bottom: 5px;
	text-align: center;
}
/*--============    ESTILOS DEL CUERPO INDEX (FIN)  ============--*/

/*--============    ESTILOS DE TRAYECTORIA (INICIO)  ============--*/
.trayectoria{
	margin: 0 auto;
	margin-top: 3%;
	width: 90%;
}
.titulo-trayectoria{
	display: flex;
	overflow: hidden;
	width: 100%;
}
.img-trayectoria-1{
	height:27px;
}
.p-trayectoria{
	font-family: "bell_regular";
	font-size:1em;
	letter-spacing:0.2em;
	margin:0;padding:0;
	padding-top:3px;
	text-align:center; 
	width:20%;
}
.img-trayectoria-2{
	height:27px;
}
.rochi{
	border: 1px solid black;
	margin:0 auto;
	width: 120px;
}
.rochi p{
	font-family: "calibri_light";
	font-size:0.9em;
	letter-spacing:0.2em;
	margin:0;
	padding: 0 5%;
	text-align:center;
}
.contenido-trayectoria{
	border-bottom: 1px solid rgba(132,129,129,0.2);
	margin-top: 25px;
	padding-bottom: 5%;
	width: 100%;
}
.izquierda-trayectoria{
	float: left;
	padding-right: 5%;
	text-align: right;
	width: 50%;

	padding-top: 12%;
}
.izquierda-trayectoria p{
	font-family: "calibri_light";
	margin-bottom: 12%;
}
.derecha-trayectoria{
	float: left;
	width: 45%;
}
.derecha-trayectoria img{
	width: 90%;
}
.contenedor-cuadro-trayectoria{
	display: flex;
	justify-content: center;
	width: 100%;
}
.cuadro-trayectoria{
	margin: 2% 2% 0 2%;
	width: 15%;
}

/*EFECTO DE FILTRO ESCALA DE GRISES (INICIO)*/
.cuadro-trayectoria img{
	filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
	filter: Gray(); /* IE4-8 and 9 */
	width: 100%;
}
.cuadro-trayectoria img:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;

	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
/*EFECTO DE FILTRO ESCALA DE GRISES (TERMINA)*/

.cuadro-trayectoria p{
	font-family: "calibri_light";
	font-size:0.6em;
	letter-spacing: 0.1em;
	width:100%;
}
.margenes{
	padding-left:6%;
	padding-right:6%;
}
/*--============    ESTILOS DE TRAYECTORIA (FIN)  ============--*/

/*--============    ESTILOS DE PRENSA (INICIO)  ============--*/
.prensa{
	border-bottom: 1px solid rgba(132,129,129,0.2);
	margin: 0 auto;
	margin-top: 2%;
	width: 90%;
}
.titulo-prensa-2{
	background: url(../img/trayectoria/linea.gif);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	margin: 0 auto;
	width: 100%;
}
.texto-titulo-prensa-2{
	background: url(../img/trayectoria/circulos.gif);
	background-size: 100% 19px;
	margin: 0 auto;
	width: 15%;
	height: auto;
}
.texto-titulo-prensa-2 p{
	font-size: 1.1em;
	margin-bottom: 5px;
	text-align: center;
}
/*.titulo-prensa{
	display: flex;
	overflow: hidden;
	width: 100%;
}
.img-prensa-1{
	height:27px;
}
.p-prensa{
	font-family: "bell_regular";
	font-size:1em;
	letter-spacing:0.2em;
	margin:0;padding:0;
	padding-top:3px;
	text-align:center; 
	width:15%;
}
.img-prensa-2{
	height:27px;
}*/
.contenido-prensa{
	margin: 0 auto;
	margin-top: 2%;
	width: 95%;
}
.contenido-prensa video{
	width: 100%;
}
.contenedor-miniaturas-videos{
	display: flex;
	justify-content: center;
	width: 100%;
}
/*EFECTO DE FILTRO ESCALA DE GRISES (INICIO)*/
.contenedor-miniaturas-videos img{
	cursor: pointer;
	filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
	filter: Gray(); 
	height: 100%;
	margin: 2% 1%;
	transition: all 0.5s;
	width: 10%;
}
.contenedor-miniaturas-videos img:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;

	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
/*EFECTO DE FILTRO ESCALA DE GRISES (TERMINA)*/
#galeria-prensa{
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 15px;
	width: 100%;
}
#galeria-prensa article{
	border-bottom: 1px solid rgba(132,129,129,0.8);;
	margin: 20px;
	width: 16%;
}
#galeria-prensa img{
	width: 100%;
}
#galeria-prensa p{
	font-family: "calibri_light";
	font-size: 0.6em;
	letter-spacing: 0.1em;
}
#galeria-prensa a{
	color: black;
	text-decoration: none;
}
/*ESTILOS SLIDER MINIATURA (INICIO)*/
#contenedor-slider-total{
	margin: 0 auto;
	position: relative;
	width: 100%;
}
#contenedor-slider2{
	margin: auto;
	overflow: hidden;
	width: 70%;
}
#slider2{
	display: flex;
	margin: auto;
	overflow: hidden;
	width: 300%;
}
#slider2 section{
	display: flex;
	justify-content: center;
	width: 100%;
}
.miniatura{
	margin: 8px;
	width: 14.5%;
}
.miniatura img{
	width: 100%;
}
#btn-prev2, #btn-next2{
	cursor: pointer;
	height: 5%;
	position: absolute;
	top: 35%;
	width: 1.5%;
	transform: translateY(-50%);
}
#btn-prev2{
	left: 13%;
}
#btn-next2{
	right: 13%;
}
#btn-prev2 img, #btn-next2 img{
	width: 100%;
}
#ver-mas{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1%;
	width: 100%;
}
#ver-mas a{
	color:black;
	cursor: pointer;
	display: flex;
	float: right;
	justify-content: flex-end;
	text-decoration: none;
	width: 7%;
}
#ver-mas p{
	font-family: "calibri_light";
	font-size: 0.7em;
	letter-spacing: 0.1em;
	margin: 0;
	margin-right: 0.4%;
}
#ver-mas img{
	height: 15px;
	width: 15px;
}
#ver-menos{
	display: none;
	justify-content: flex-end;
	margin-top: 2%;
	width: 100%;
}
#ver-menos a{
	color:black;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	width: 100%;
}
#ver-menos p{
	font-family: "calibri_light";
	font-size: 0.7em;
	letter-spacing: 0.1em;
	margin: 0;
	margin-right: 0.4%;
}
#ver-menos img{
	height: 15px;
	width: 15px;
}
/*ESTILOS SLIDER MINIATURA (FIN)*/
/*--============    ESTILOS DE PRENSA (FIN)  ============--*/

/*--============    ESTILOS DE CONTACTO (INICIO)  ============--*/
.contacto{
	border-bottom: 1px solid rgba(132,129,129,0.2);
	margin: 0 auto;
	margin-top: 3%;
	padding-bottom: 6%;
	width: 90%;
}
.titulo-contacto{
	display: flex;
	overflow: hidden;
}
.img-contacto-1{
	height: 27px;
}
.p-contacto{
	font-family: "bell_regular";
	font-size:1em;
	letter-spacing:0.2em;
	margin:0;padding:0;
	padding-top:3px;
	text-align:center; 
	width:15%;
}
.img-contacto-2{
	height: 15px;
	padding-top: 4px;
	width: 15px;
}
.texto-contacto{
	display: flex;
	margin-left: 12%;
}
.texto-contacto img{
	height: 15px;
}
.texto-contacto p{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.2em;
	margin: 0;
	margin-left: 1%;
}
.actualizaciones{
	margin-left: 12%;

}
.actualizaciones p{
	font-family: "calibri_light";
	font-size: 0.7em;
}
.actualizaciones a{
	color: black;
	font-family: "calibri_bold";
	text-decoration: none;
}
.formulario{
	margin-top: 4%;
	text-align: right;
	width: 100%;
}
.formulario label{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.3em;
}
.formulario input{
	border: 0.5px solid black;
	margin-left: 3%;
	padding: 5px;
	width: 30%;
}
.formulario textarea{
	border: 0.5px solid black;
	margin-left: 3%;
	width: 30.5%;
}
.formulario form .boton-enviar{
	background-color: black;
	border: none;
	color: white;
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.5em;
	padding: 5px;
	width: 31%;
}
.error {
	color: red;
	display: none;
	font-family: "calibri_light";
}

#ajaxsuccess {
	clear:both;
	color: green;
	display: none;
	font-family: "calibri_light";
	font-size:18px;
	font-weight:bold;
	width: 100%;

}
/*--============    ESTILOS DE CONTACTO (FIN)  ============--*/

/*--============     ESTILOS DE EDICIÓN LIMITADA EEH ============--*/
p.edicion{
	width: 90%;
	text-align: center;
    font-family: "calibri_light";
    font-style: italic;
    display: block;
    margin:0 auto;
    }

    div.link span{
    font-family: "calibri_light";
    font-style: italic;
        letter-spacing: 0.1em;	
    }
/*--============    ESTILOS DE EDICIÓN LIMITADA EEH ============--*/

/*--============    ESTILOS DE PIE DE PÁGINA (INICIO)  ============--*/
.pie-pagina{
	margin: 0 auto;
	margin-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	width: 90%
}
.pie-pagina p{
	font-family: "calibri_light";
	font-size: 0.8em;
	margin: 0;
}
.pie-pagina a{
	color: black;
	text-decoration: none;
}
.pie-pagina img{
	margin-bottom: -0.5%;
	width: 8%;
}
/*--============    ESTILOS DE PIE DE PÁGINA (FIN)  ============--*/

/*--============================================================
	ESTILOS DE LA SECCION "PRODUCTOS" (INICIA)
=============================================================--*/
.slider-productos{
	border-top: 1px solid rgba(132,129,129,0.8);
	padding-top: 1.5%;
}
.titulo-productos{
	display: flex;
	margin: 0 auto;
	margin-top: 4%;
	width: 90%;
}
.img-productos-1{
	height: 22px;
}
.p-productos{
	font-family: "bell_regular";
	letter-spacing: 0.2em;
	font-family: 1.2em;
	margin: 0;
	text-align: center;
	width: 25%;
}
.img-productos-2{
	height: 15px;
	width: 15px;
}
.contenedor-productos{
	margin: 0 auto;
	width: 90%;
}
.contenedor-productos ul{
	list-style: none;
	padding: 0;
}
.contenedor-productos ul li{
	padding-top: 1.3%;
	padding-bottom: 1.3%;
}
.contenedor-productos .link{
	padding-left: 19%;
}
.contenedor-productos .link i{
	padding-right: 10px;
}
.contenedor-productos .submenu{
	margin: 0 auto;
	padding: 0;
	width: 70%;
}
.contenedor-productos .submenu li{
	border-bottom: 1px solid rgba(132,129,129,0.8);
	float: left;
	font-family: "calibri_light";
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 6%;
	padding-bottom: 2%;
	padding-top: 0;
	width: 19%;
}
.contenedor-productos .submenu li a{
	color: black;
	text-decoration: none;
}
.contenedor-productos .submenu li img{
	width: 100%;
}
.contenedor-productos .submenu li .titulo-articulo-producto{
	font-family: "calibri_bold";
	font-size: 0.8em;
	letter-spacing: 0.2em;
	margin-bottom: 0;
	padding-bottom: 4%;
	text-align: center;
}
.contenedor-productos .submenu li .subtitulo-articulo-producto{
	float: left;
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.2em;
	margin: 0;
}
/*--============================================================
	ESTILOS DE LA SECCION "PRODUCTOS" (FIN)
=============================================================--*/

/*--============================================================
	ESTILOS DE LA SECCION "DISEÑA TU MOMENTO" (INICIA)
=============================================================--*/


.espacio-up-down{

	padding-top: 25px;

}
.disena-tu-momento{
	border-bottom: 1px solid rgba(132,129,129,0.8);
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 90%;
}
.logo2{
	padding-bottom: 1%;
	width: 95%;
}
.logo2 img{
	width: 20%;
}
.logo2 #ver-mas2{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.logo2 #ver-mas2 p{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.1em;
	margin: 0;
	padding-top: 1%;
}
.logo2 #ver-mas2 a{
	color:black;
	cursor: pointer;
	display: flex;
	float: right;
	justify-content: flex-end;
	text-decoration: none;
	width: 23%;
}
.logo2 #ver-mas2 img{
	height: 20px;
	margin-left: 4%;
	width: 20px;
}
.logo2 #ver-menos2{
	display: none;
	justify-content: flex-end;
	width: 100%;
}
.logo2 #ver-menos2 p{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.1em;
	margin: 0;
	padding-top: 1%;
}
.logo2 #ver-menos2 a{
	color:black;
	cursor: pointer;
	display: flex;
	float: right;
	justify-content: flex-end;
	text-decoration: none;
	width: 23%;
}
.logo2 #ver-menos2 img{
	height: 20px;
	margin-left: 4%;
	width: 20px;
}
#consideraciones-generales{
	display: none;
	border-bottom: 1px solid rgba(132,129,129,0.8);
	margin: 0 auto;
	width: 90%;
}
.texto-consideraciones{
	margin: 0 auto;
	margin-top: 5%;
	padding-bottom: 7%;
	width: 95%;
}
.titulo-consideraciones{
	display: flex;
	width: 100%;
}
.titulo-consideraciones img{
	height: 23px;
	margin-right: 2%;
	width: 23px;
}
.titulo-consideraciones p{
	font-family: "bell_bold";
	letter-spacing: 0.2em;
	margin: 0;
	margin-top: 0.3%;
}
.p-consideraciones p{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.2em;
	margin-left: 4%;
}
.img-disena{
	border-bottom: 1px solid rgba(132,129,129,0.8);
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 1%;
	padding-bottom: 1%;
	position: relative;
	text-align: center;
	width: 90%;
}
.img-disena img{
	width: 95%;
}
.texto-descriptivo{
	color: white;
	font-family: "calibri_light";
	left: 8%;
	position: absolute;
	text-align: left;
	top: 47.5px;
	width: 20%;
}
.texto-descriptivo h5{
	font-family: "bell_regular";
	font-size: 1em;
	letter-spacing: 0.2em;
	margin: 0;
}
.texto-descriptivo p{
	font-size: 0.9em;
	margin-top: 5px;
	padding-left: 14px;
	text-align: justify;
}
.img-disena #ver-mas3{
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	width: 95%;
}
.img-disena #ver-mas3 p{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.1em;
	margin: 0;
	padding-top: 1%;
}
.img-disena #ver-mas3 a{
	color:black;
	cursor: pointer;
	display: flex;
	float: right;
	justify-content: flex-end;
	text-decoration: none;
	width: 23%;
}
.img-disena #ver-mas3 img{
	height: 20px;
	margin-left: 4%;
	width: 20px;
}
.img-disena #ver-menos3{
	display: none;
	justify-content: flex-end;
	margin: 0 auto;
	width: 95%;
}
.img-disena #ver-menos3 p{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.1em;
	margin: 0;
	padding-top: 1%;
}
.img-disena #ver-menos3 a{
	color:black;
	cursor: pointer;
	display: flex;
	float: right;
	justify-content: flex-end;
	text-decoration: none;
	width: 23%;
}
.img-disena #ver-menos3 img{
	height: 20px;
	margin-left: 4%;
	width: 20px;
}
.img-disena #ver-mas4{
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	width: 95%;
}
.img-disena #ver-mas4 p{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.1em;
	margin: 0;
	padding-top: 1%;
}
.img-disena #ver-mas4 a{
	color:black;
	cursor: pointer;
	display: flex;
	float: right;
	justify-content: flex-end;
	text-decoration: none;
	width: 23%;
}
.img-disena #ver-mas4 img{
	height: 20px;
	margin-left: 4%;
	width: 20px;
}
.img-disena #ver-menos4{
	display: none;
	justify-content: flex-end;
	margin: 0 auto;
	width: 95%;
}
.img-disena #ver-menos4 p{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.1em;
	margin: 0;
	padding-top: 1%;
}
.img-disena #ver-menos4 a{
	color:black;
	cursor: pointer;
	display: flex;
	float: right;
	justify-content: flex-end;
	text-decoration: none;
	width: 23%;
}
.img-disena #ver-menos4 img{
	height: 20px;
	margin-left: 4%;
	width: 20px;
}
#texto-desarrollo1{
	display: none;
	margin: 0 auto;
	text-align: justify;
	width: 90%;
}
#texto-desarrollo1 p{
	font-family: "calibri_light";
}
#texto-desarrollo2{
	display: none;
	margin: 0 auto;
	text-align: justify;
	width: 90%;
}
#texto-desarrollo2 p{
	font-family: "calibri_light";
}
#locacion{
	border-bottom: 1px solid rgba(132,129,129,0.2);
	margin: 0 auto;
	padding-bottom: 1%;
	width: 90%;
}
.presentacion{
	margin: 0 auto;
	position: relative;
	width: 95%;
}
.texto-descriptivo2{
	color: white;
	font-family: "calibri_light";
	left: 2%;
	position: absolute;
	text-align: left;
	top: 47.5px;
	width: 20%;
}
.texto-descriptivo2 h5{
	font-family: "bell_regular";
	font-size: 1em;
	letter-spacing: 0.2em;
	margin: 0;
}
.texto-descriptivo2 p{
	font-size: 0.9em;
	margin-top: 5px;
	padding-left: 14px;
	text-align: justify;
}
.presentacion img{
	cursor: pointer; 
	float: left;
	width: 50%;
}
#locacion-detalles{
	border-bottom: 1px solid rgba(132,129,129,0.6);
	display: none;
	margin: 0 auto;
	width: 90%;
}
.titulo-locacion{
	display: flex;
	margin-top: 3%;
	width: 100%;
}
.titulo-locacion .img-locacion-1{
	height: 15px;
}
.titulo-locacion .p-locacion{
	font-family: "bell_regular";
	letter-spacing: 0.5em;
	margin: 0;
	text-align: center;
	width: 20%;
}
.titulo-locacion .img-locacion-2{
	height: 19px;
	margin-top: -0.2%;
	width: 19px;
}
#locacion-detalles ul{
	list-style: none;
	padding: 0;
}
#locacion-detalles .link{
	padding-left: 14%;
	margin-bottom: 2%;
	margin-top: 2%; 
}
#locacion-detalles .link i{
	margin-right: 1%;
}
#locacion-detalles .submenu{
	border-bottom: 1px solid rgba(132,129,129,0.2);
	padding-bottom: 3%;
	width: 100%;
}
.submenu li{
	margin: 0 auto;
	width: 95%;
}
.submenu #img-grande-velero{
	float: left;
	width: 75%;
}
.submenu #img-grande-velero img{
	width: 100%;
}
.submenu #img-miniatura-velero{
	float: left;
	margin-left: 5%;
	width: 20%
}
.submenu #img-miniatura-velero img{
	cursor: pointer;
	width: 91%;

	filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
	filter: Gray(); /* IE4-8 and 9 */
}
.submenu #img-miniatura-velero img:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;

	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.submenu #img-grande-hotel{
	float: left;
	width: 75%;
}
.submenu #img-grande-hotel img{
	width: 100%;
}
.submenu #img-miniatura-hotel{
	float: left;
	margin-left: 5%;
	width: 20%
}
.submenu #img-miniatura-hotel img{
	cursor: pointer;
	width: 91%;

	filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
	filter: Gray(); /* IE4-8 and 9 */
}
.submenu #img-miniatura-hotel img:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;

	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.galeria-disena{
	border-bottom: 1px solid rgba(132,129,129,0.2);
	margin: 0 auto;
	width: 90%;
}
.galeria-disena h3{
	font-family: "bell_bold";
	font-weight: lighter;
    letter-spacing: 0.2em;
    margin-bottom: 0;
    margin-top: 3%;
}
.galeria-disena a{
	width: 20%;
}
.galeria-disena img{
	margin: 2.3%;
	width: 20%;
}
/*--============================================================
	ESTILOS DE LA SECCION "DISEÑA TU MOMENTO" (FIN)
=============================================================--*/

/*--============================================================
	ESTILOS DE LA SECCION "GALERIA TRAYECTORIA" (INICIA)
=============================================================--*/
.titulo-trayectoria2{
	display: flex;
	margin: 0 auto;
	margin-bottom: 1%;
	width: 90%;
}
.trayectoria-img-1{
	height: 25px;
}
.trayectoria-p{
	font-family: "bell_regular";
	letter-spacing: 0.2em;
	margin: 0;
	margin-top: 0.4%;
	text-align: center;
	width: 18%;
}
.trayectoria-img-2{
	height: 25px;
}
.lineas{
	border-bottom: 1px solid rgba(132,129,129,0.2);
	border-top: 1px solid rgba(132,129,129,0.2);
	padding-top: 2%;
	padding-bottom: 2%;
}
.contenedor-galeria-trayectoria{
	margin: 0 auto;
	width: 90%;
}
.galeria-trayectoria{
	margin: 0 auto;
	width: 95%;
}
.galeria-trayectoria ul{
	list-style: none;
	padding: 0;
}
.galeria-trayectoria .submenu{
	margin: 0 auto;
	width: 85%;
}
.galeria-trayectoria .link{
	font-family: "calibri_normal";
	margin-bottom: 2%;
	margin-left: 7%;
	margin-top: 2%;
}
.galeria-trayectoria .link i{
	margin-right: 1.5%;
}
.titulo-galeria-trayectoria{
	display: flex;
	width: 100%;
}
.titulo-galeria-trayectoria img{
	height: 20px;
	margin-right: 1.5%;
	margin-top: -0.2%;
}
.titulo-galeria-trayectoria p{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.2em;
	margin: 0;
}
.img-trayectoria-galeria{
	margin-top: 3%;
	margin-bottom: 3%;
	width: 100%;
}
.img-trayectoria-galeria img{
	width: 100%;
}
.img-trayectoria-galeria .trayectoria-img1{
	float: left;
	width: 50%;
}
.trayectoria-p1{
	float: left;
	font-family: "calibri_light";
	padding: 20% 5% 0 5%;
	width: 40%;
}
/*--============================================================
	ESTILOS DE LA SECCION "GALERIA TRAYECTORIA" (FIN)
=============================================================--*/

/*--============================================================
	ESTILOS DE LA SECCION "ARTICULOS" (INICIA)
=============================================================--*/
.contenedor-articulo{
	border-top: 1px solid rgba(132,129,129,0.8);
	margin: 0 auto;
	padding-bottom: 10%;
	width: 90%;
}
.izquierda-articulo{
	float: left;
	padding-top: 2%;
	width: 55%;
}
.presentacion-articulo{
	margin: 0 auto;
	width: 95%;
}
.presentacion-articulo img{
	width: 100%;
}
.miniaturas-articulos{
	margin: 0 auto;
	width: 70%;
}
.miniaturas-articulos img{
	float: left;
	width: 25%;
}
.miniaturas-articulos a:nth-child(2) img{
	margin-left: 5%;
	margin-right: 5%;
}
.texto-articulos-izquierda{
	margin: 0 auto;
	width: 70%;
}
.texto-articulos-izquierda p:nth-child(1){
	font-family: "calibri_normal";
	letter-spacing: 0.1em;
	margin-top: 5%;
}
.texto-articulos-izquierda p:nth-child(2){
	font-family: "bell_bold";
	margin-top: 15%;
	letter-spacing: 0.2em;
}
.otros-articulos{
	margin: 0 auto;
	margin-bottom: 10%;
	margin-top: 8%;
	width: 70%;
}
.otros-articulos img{
	float: left;
	width: 30%;
}
.otros-articulos a:nth-child(2) img{
	margin-left: 5%;
	margin-right: 5%;
}
.izquierda-articulo a{
	color: black;
	font-family: "bell_bold";
	letter-spacing: 0.2em;
	text-decoration: none;
}
.boton{
	border: 1px solid black;
	padding: 10px;
}
.boton i{
	margin-right: 10px;
}
.derecha-articulo{
	float: left;
	padding-top: 10%;
	width: 45%;
}
.titulo-derecha-articulo{
	font-family: "bell_bold";
	letter-spacing: 0.4em;
}
.descripcion-articulo{
	border-top: 1px solid rgba(132,129,129,0.8);
	border-bottom: 1px solid rgba(132,129,129,0.8);
}
.descripcion-articulo p{
	font-family: "calibri_normal";
	margin-left: 2%;
	margin-top: 5%;
	width: 70%;
}
.descripcion-articulo span{
	font-family: "bell_bold";
	font-size: 1.2em;
}
.botones{
	margin-left: 2%;
	padding-bottom: 8%;
	padding-top: 12%;
	width: 100%;
}
.botones a:nth-child(1){
	border: 1px solid black;
	color: black;
	font-family: "bell_bold";
	letter-spacing: 0.2em;
	margin-right: 1%;
	padding: 10px;
	text-decoration: none;
}
.botones a:nth-child(1) i{
	margin-right: 1%;
}


.botones a:nth-child(2){
	
	color: black;
	font-family: "bell_bold";
	letter-spacing: 0.2em;
	
	text-decoration: none;
}
.botones a:nth-child(2) i{
	margin-right: 1%;
}
.botones a:nth-child(3) i{
	color: black;
	margin-left: 0.5%;
	margin-right: 0.5%;
}
.botones a:nth-child(4) i{
	color: black;
	margin-left: 0.5%;
	margin-right: 0.5%;
}
.botones a:nth-child(5) i{
	color: black;
	margin-left: 0.5%;
	margin-right: 0.5%;
}
.texto-articulo{
	border-bottom: 1px solid rgba(132,129,129,0.8);
	padding-bottom: 3%;
}
.texto-articulo p{
	font-family: "calibri_normal";
}
.texto-articulo a{
	color: black;
	font-family: "bell_bold";
	font-size: 1.5em;
	margin-left: 2%;
	margin-top: 10%;
	text-decoration: none;
}
.texto-articulo a i{
	margin-right: 1%;
}
.formulario-articulo{
	width: 100%;
}
.formulario-articulo p{
	font-family: "bell_bold";
	letter-spacing: 0.4em;
	margin-left: 2%;
}
.formulario-articulo form{
	margin-top: 12%;
	text-align: right;
}
.formulario-articulo form label{
	font-family: "calibri_light";
	font-size: 0.8em;
	letter-spacing: 0.3em;
	margin-right: 5%;
}
.formulario-articulo form input{
	border: 0.5px solid black;
	padding: 5px;
	width: 50%;
}
.formulario-articulo form textarea{
	border: 0.5px solid black;
	width: 51.5%;
}
.formulario-articulo .boton-enviar-2{
	background-color: black;
	border: none;
	color: white;
	font-family: "calibri_light";
	letter-spacing: 0.3em;
	width: 52.5%;
}

.boton-mas-detalles{
	display: flex;
}
.boton-mas-detalle p{
	font-family: "calibri_light";
	font-size: 0.6em;
	letter-spacing: 0.1em;
	margin: 0;
	padding-top: 1%;
}
.boton-mas-detalles a{
	color:black;
	cursor: pointer;
	display: flex;
	font-family: "calibri_normal";
	font-size: 1em;
	line-height: 1.3;
	margin: 10px 0;
	text-decoration: none;
}
.boton-mas-detalles img{
	height: 20px;
	width: 20px;
}
.boton-menos-detalles{
	display: flex;
}
.boton-menos-detalle p{
	font-family: "calibri_light";
	font-size: 0.6em;
	letter-spacing: 0.1em;
	margin: 0;
	padding-top: 1%;
}
.boton-menos-detalles a{
	color:black;
	cursor: pointer;
	display: flex;
	font-family: "calibri_normal";
	font-size: 1em;
	line-height: 1.3;
	margin: 10px 0;
	text-decoration: none;
}
.boton-menos-detalles img{
	height: 20px;
	width: 20px;
}
.contenido-mostrar{
	margin: 0;
	margin-bottom: 5%;
	text-align: justify;
	width: 100%;
}
/*--============================================================
	ESTILOS DE LA SECCION "ARTICULOS" (FIN)
=============================================================--*/

/*--============    ESTILOS DEL RESPONSIVE (INICIO)  ============--*/
@media(max-width: 2240px){
	#izquierda-edicion .titulo-edicion .p-edicion{
		font-size: 1.3em;
	}
	#izquierda-edicion ul{
		font-size: 1.3em;
		margin-left: 24%;
	}
	#izquierda-edicion ul li{
		padding: 3%;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		font-size: 1.3em;
	}
	#derecha-experiencias ul{
		font-size: 1.3em;
		margin-left: 31%;
	}
	#derecha-experiencias ul li{
		padding: 3%;
	}
}
@media(max-width: 2120px){
	#izquierda-edicion .titulo-edicion .p-edicion{
		font-size: 1.1em;
	}
	#izquierda-edicion ul{
		font-size: 1.1em;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		font-size: 1.1em;
	}
	#derecha-experiencias ul{
		font-size: 1.1em;
	}
	#btn-prev{
		left: -55px;
	}
	#btn-next{
		right: -55px;
	}
}
@media(max-width: 1900px){
	.menu-izquierda{
		font-size: 1.2em;
		padding-top: 2%;
	}
	.menu-derecha{
		font-size: 1.2em;
		padding-top: 2%;
	}
	#izquierda-edicion .titulo-edicion .p-edicion{
		font-size: 1.3em;
	}
	#izquierda-edicion ul{
		font-size: 1.3em;
		margin-left: 25%;
	}
	.img-edicion-2{
		margin-right: -350px;
	}
	#derecha-experiencias{
		overflow: hidden;
	}
	.img-experiencias-1{
		margin-left: -80px;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		font-size: 1.3em;
		width: 70%;
	}
	#derecha-experiencias ul{
		font-size: 1.3em;
		margin-left: 21%;
	}
}
@media(max-width: 1850px){
	#izquierda-edicion{
		width: 55%;
	}
	#derecha-edicion{
		width: 45%;
	}
	#izquierda-experiencias{
		width: 55%;
	}
	#derecha-experiencias{
		width: 45%;
	}
	#izquierda-edicion ul{
		margin-left: 23%;
	}
	.img-experiencias-1{
		margin-left: -40px;
	}
	#derecha-experiencias ul{
		margin-left: 28%;
	}
	#btn-prev{
		left: -40px;
	}
	#btn-next{
		right: -40px;
	}
	#izquierda-edicion .titulo-edicion .p-edicion{
		font-size: 1.1em;
	}
	#izquierda-edicion ul{
		font-size: 1.1em;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		font-size: 1.1em;
	}
	#derecha-experiencias ul{
		font-size: 1.1em;
	}
}
@media(max-width: 1530px){
	.img-edicion-1{
		height: 15px;
		width: 15px;
	}
	.img-edicion-2{
		height: 15px;
	}
	.img-experiencias-1{
		height: 15px;
		margin-left: 0;
	}
	.img-experiencias-2{
		height: 15px;
		margin-top: 0;
		width: 15px;
	}
	#izquierda-edicion .titulo-edicion .p-edicion{
		font-size: 1em;
	}
	#izquierda-edicion ul{
		font-size: 1em;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		font-size: 1em;
	}
	#derecha-experiencias ul{
		font-size: 1em;
	}
}
@media(max-width: 1450px){
	.menu-izquierda{
		font-size: 1em;
		padding-top: 1.5%;
	}
	.menu-derecha{
		font-size: 1em;
		padding-top: 1.5%;
	}
}
@media(max-width: 1380px){
	#derecha-experiencias ul li ul{
		font-size: 0.7em;
		font-weight: 600;
	}
	#btn-prev{
		left: -30px;
	}
	#btn-next{
		right: -30px;
	}
}
@media(max-width: 1312px){
	.continuacion{
		width: 75%;
	}
	.redes-sociales{
		width: 25%;
	}
	.facebook{
		height: 25px;
		width: 25px;
	}
	.twitter{
		height: 25px;
		width: 25px;
	}
	.youtube{
		height: 25px;
		width: 25px;
	}
	.p-nueva{
			width: 20%;

	}
	.img-nueva-2{
	height: 22px;
	margin-right: -250px;
}
}
@media(max-width: 1290px){
	#izquierda-edicion .titulo-edicion .p-edicion{
		font-size: 0.9em;
	}
	#izquierda-edicion ul{
		font-size: 0.9em;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		font-size: 0.9em;
	}
	#derecha-experiencias ul{
		font-size: 0.9em;
	}
}
@media(max-width: 1260px){
	.logo2 #ver-mas2 a{
		width: 26%;
	}
	.logo2 #ver-menos2 a{
		width: 26%;
	}
	.p-contacto{
		width: 20%;
	}
}
@media(max-width: 1210px){
	.titulo-locacion .p-locacion{
		width: 30%;
	}
}
@media(max-width: 1200px){
	.espacio-edicion{
		padding-top: 60%;
	}
	.espacio-experiencias{
		padding-top: 60%;
	}
	.img-experiencias-1{
		margin-left: -15px;
	}
	.texto-descriptivo{
		top: 41px;
	}
}
@media(max-width: 1162px){
	#izquierda-edicion .titulo-edicion .p-edicion{
		font-size: 0.8em;
	}
	#izquierda-edicion ul{
		font-size: 0.8em;
	}
	.img-experiencias-2{
		margin-top: -2px;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		font-size: 0.8em;
	}
	#derecha-experiencias ul{
		font-size: 0.8em;
	}
}
@media(max-width: 1112px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 28%;
	}
	.texto-descriptivo{
		top: 39px;
	}
}
@media(max-width: 1100px){
	.menu-izquierda{
		font-size: 0.8em;
	}
	.menu-derecha{
		font-size: 0.8em;
	}
}
@media(max-width: 1032px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 32%;
	}
	.texto-descriptivo{
		top: 34px;
	}
	.texto-descriptivo p{
		font-size: 0.8em;
		margin-top: 2px;
	}
}
@media(max-width: 1024px){
	#btn-prev{
		left: -22px;
	}
	#btn-next{
		right: -22px;
	}
	.img-edicion-1{
		height: 13px;
		margin-top: -1px;
		width: 13px;
	}
	.img-edicion-2{
		height: 13px;
	}
	#izquierda-edicion .titulo-edicion .p-edicion{
		font-size: 0.7em;
	}
	#izquierda-edicion ul{
		font-size: 0.7em;
	}
	.img-experiencias-1{
		height: 13px;
		margin-left: -15px;
	}
	.img-experiencias-2{
		height: 13px;
		width: 13px;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		font-size: 0.7em;
	}
	#derecha-experiencias ul{
		font-size: 0.7em;
	}
	.img-trayectoria-1{
		margin-left: -145px;
		margin-right: 20px;
	}
	.img-trayectoria-2{
		margin-left: 15px;
	}
	.rochi{
		width: 15%;
	}
	.img-prensa-1{
		margin-left: -150px;
		margin-right: 20px;
	}
	.img-prensa-2{
		margin-left: 15px;
	}
	#ver-mas a{
		width: 10%;
	}
	.p-contacto{
		width: 20%;
	}
	.img-contacto-1{
		margin-left: -30px;
	}
	.pie-pagina img{
		margin-bottom: -0.7%;
		width: 11%;
	}
}
@media(max-width: 1000px){
	.titulo-productos{
		overflow: hidden;
	}
	.img-productos-1{
		margin-left: -30px;
	}
	.p-productos{
		width: 28%;
	}
	.trayectoria-p{
		width: 22%;
	}
	.izquierda-trayectoria{
		padding-top: 2%;
	}
}
@media(max-width: 970px){
	.p-nueva{
		width: 25%;
	}
	.img-nueva-2{
		margin-right: -40%;
	}
	.fecha-nueva img{
		padding-left: 45%;
	}
}
@media(max-width: 940px){
	.rochi p{
		font-size: 0.7em;
	}
}
@media(max-width: 920px){
	.p-contacto{
		width: 25%;
	}
	.img-nueva-2{
		margin-right: -45%;
	}
}
@media(max-width: 905px){
	#izquierda-edicion .titulo-edicion .p-edicion{
		width: 65%;
	}
}
@media(max-width: 900px){
	.menu-izquierda{
		display: none;
	}
	.menu-derecha{
		display: none;
	}
	.logo{
		text-align: center;
		width: 100%
	}
	.logo img{
		width: 40%;
	}
	.menu-responsive{
		display: block;
	}
	.img-productos-1{
		margin-left: -40px;
	}
	.p-productos{
		width: 32%;
	}
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 34%;
	}
	.texto-descriptivo{
		top: 32px;
	}
	.texto-descriptivo h5{
		font-size: 0.8em;
	}
	.galeria-disena img{
		width: 28%;
	}
	.izquierda-trayectoria{
		padding-top: 5%;
	}
	.izquierda-trayectoria p{
		font-size: 0.8em;
	}
}
@media(max-width: 850px){
	.espacio-edicion{
		padding-top: 50%;
	}
	#izquierda-edicion .titulo-edicion .p-edicion{
		width: 70%;
	}
	.texto-titulo-trayectoria-2{
		width: 25%;
	}
	.texto-titulo-prensa-2{
		width: 25%;
	}
	#ver-mas a{
		width: 12%;
	}
	.img-nueva-2{
		margin-right: -52%;
	}
	.logo2 #ver-mas2 a{
		width: 36%;
	}
	.texto-descriptivo{
		top: 28px;
		width: 25%;
	}
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 36%;
	}
}
@media(max-width: 815px){
	.titulo-locacion .p-locacion{
		width: 35%;
	}
}
@media(max-width: 802px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 38%;
	}
}
@media(max-width: 800px){
	.img-experiencias-1{
		margin-left: -25px;
		margin-right: 10px;
	}
	.img-nueva-2{
		margin-right: -55%;
	}
	.p-productos{
		width: 35%;
	}
	.img-productos-1{
		margin-left: -60px;
	}
	.trayectoria-p{
		width: 25%;
	}
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 38%;
	}
}
@media(max-width: 768px){
	.titulo-edicion{
		width: 90%;
	}
	#izquierda-edicion .titulo-edicion .p-edicion{
		width: 70%;
	}
	#izquierda-edicion ul{
		margin-left: 15%;
	}
	.img-experiencias-1{
		margin-left:-45px;
		margin-right: 10px;
	}
	#derecha-experiencias ul{
		margin-left: 20%;
	}
	.img-trayectoria-1{
		margin-left: -250px;
	}
	.p-trayectoria{
		width: 40%;
	}
	.img-prensa-1{
		margin-left: -255px;
	}
	#ver-mas a{
		width: 13%;
	}
	.img-contacto-1{
		margin-left: -50px;
	}
	.p-contacto{
		width: 30%;
	}
	.pie-pagina img{
		margin-bottom: -0.8%;
		width: 15%;
	}
	.formulario input{
		width: 40%;
	}
	.formulario textarea{
		width: 41%;
	}
	.formulario form .boton-enviar{
		width: 42%;
	}
	.p-nueva{
		width: 30%;
	}
	.img-nueva-2{
		margin-right: -65%;
	}
	.fecha-nueva img{
		padding-left: 62%;
	}
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 39%;
	}
}
@media(max-width: 760px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 40%;
	}
	.texto-descriptivo{
		top: 25px;
	}
	.texto-descriptivo h5{
		font-size: 0.7em;
	}
	.texto-descriptivo p{
		font-size: 0.6em;
	}
}
@media(max-width:  736px){
	.img-trayectoria-1{
		margin-left: -260px;
	}
	.img-prensa-1{
		margin-left: -265px;
	}
	#btn-prev{
		left: -20px;
	}
	#btn-next{
		right: -20px;
	}
}
@media(max-width: 730px){
	.espacio-edicion{
		padding-top: 35%;
	}
	.img-nueva-2{
		margin-right: -70%;
	}
	.rochi{
		width: 18%;
	}
	.img-experiencias-1{
		margin-left: -50px;
	}
	#btn-prev2{
		left: 6%;
	}
	#btn-next2{
		right: 6%;
	}
	#contenedor-slider2{
		width: 85%;
	}
	.p-productos{
		width: 40%;
	}
	.logo2 img{
		width: 30%;
	}
}
@media(max-width: 722px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 42%;
	}
	.cuadro-trayectoria{
		width: 20%;
	}
	.izquierda-trayectoria{
		padding-top: 2%;;
	}
}
@media(max-width: 700px){
	.img-productos-1{
		margin-left: -70px;
	}
	.p-productos{
		width: 42%;
	}
	.trayectoria-p{
		width: 28%;
	}
	.izquierda-trayectoria{
		float: none;
		margin: 0 auto;
		padding-top: 2%;
	    padding-right: 0;
	    text-align: center;
	    width: 70%;
	}
	.izquierda-trayectoria p{
		font-size: 1em;
	}
	.derecha-trayectoria{
		display: none;
	}
}
@media(max-width: 692px){
	.titulo-locacion{
		overflow: hidden;
	}
	.titulo-locacion .img-locacion-1{
		margin-left: -60px;
	}
	.titulo-locacion .p-locacion{
		width: 45%;
	}
}
@media(max-width: 690px){
	#izquierda-edicion .titulo-edicion .p-edicion{
		width: 75%;
	}
	.texto-titulo-trayectoria-2{
		width: 27%;
	}
	.img-experiencias-1{
		margin-left: -60px;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		width: 75%;
	}
}
@media(max-width: 688px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 44%;
	}
}
@media(max-width: 660px){
	.img-nueva-2{
		margin-right: -78%;
	}
	.titulo-trayectoria2{
		overflow: hidden;
	}
	.trayectoria-img-1{
		margin-left: -30px;
	}
	.trayectoria-p{
		width: 32%;
	}
}
@media(max-width: 656px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 46%;
	}
	.texto-descriptivo{
		top: 22px;
	}
	.texto-descriptivo h5{
		font-size: 0.6em;
	}
	.texto-descriptivo p{
		font-size: 0.5em;
		padding-left: 8px;
	}
}
@media(max-width: 645px){
	#izquierda-edicion .titulo-edicion .p-edicion{
		width: 80%;
	}
	.texto-titulo-trayectoria-2{
		width: 30%;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		width: 80%;
	}
	.img-experiencias-1{
		margin-left: -80px;
	}
	.p-nueva{
		width: 20%;
	}
	#ver-mas a{
		width: 14%;
	}
}
@media(max-width: 628px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 48%;
	}
	.p-contacto{
		width: 34%;
	}
}
@media(max-width: 602px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 50%;
	}
	.texto-descriptivo{
		top: 18px;
	}
}
@media(max-width: 600px){
	#izquierda-edicion .titulo-edicion .p-edicion{
		width: 85%;
	}
	.titulo-edicion{
		float: left;
	}
	.rochi{
		width: 20%;
	}
	.p-contacto{
		width: 35%;
	}
	#ver-mas a{
		width: 15%;
	}
	.img-experiencias-1{
		margin-left: -95px;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		width: 85%;
	}
	.texto-titulo-trayectoria-2{
		width: 32%;
	}
	.img-productos-1{
		margin-left: -80px;
	}
	.p-productos{
		width: 46%;
	}
}
@media(max-width: 578px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 52%;
	}
	.logo2 img{
		width: 35%;
	}
}
@media(max-width: 570px){
	#izquierda-edicion .titulo-edicion .p-edicion{
		width: 95%;
	}
	.img-experiencias-1{
		margin-left: -100px;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		width: 90%;
	}
	.espacio-edicion{
		padding-top: 30%;
	}
}
@media(max-width: 555px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 54%;
	}
}
@media(max-width: 550px){
	.texto-nueva{
		display: none;
	}
	.fecha-nueva{
		display: none;
	}
	#ver-mas a{
		width: 17%;
	}
	#contenedor-slider2{
		width: 95%;
	}
	#btn-prev2{
		left: 1%;
	}
	#btn-next2{
		right: 1%;
	}
	.rochi{
		width: 22%;
	}
	.p-contacto{
		width: 38%;
	}
	.p-productos{
		width: 50%;
	}
	.contenedor-productos .submenu li{
		width: 44%;
	}
	.trayectoria-p{
		width: 36%;
	}
	.contenedor-cuadro-trayectoria{
		flex-wrap: wrap;
	}
	.cuadro-trayectoria{
		width: 30%;
	}
}
@media(max-width: 537px){
	.titulo-locacion .p-locacion{
		width: 55%;
	}
	.titulo-locacion .img-locacion-1{
		margin-left: -80px;
	}
}
@media(max-width: 535px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 56%;
	}
}
@media(max-width: 516px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 58%;
	}
	.logo2 img{
		width: 38%;
	}
	.texto-descriptivo{
		top: 15px;
	}
	.presentacion img{
		width: 100%;
	}
	.galeria-disena img{
		width: 44%;
	}
}
@media(max-width: 500px){
	.logo img{
		width: 60%;
	}
	.titulo-edicion{
		float: right;
	}
	#izquierda-edicion .titulo-edicion .p-edicion{
		width: 55%;
	}
	.espacio-edicion{
		padding-top: 20%;
	}
	.texto-titulo-trayectoria-2{
		width: 37%;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		width: 100%;
	}
	.rochi{
		width: 24%;
	}
	#ver-mas a{
		width: 19%;
	}
	.img-productos-1{
		margin-left: -90px;
	}
	.p-productos{
		width: 55%;
	}
	.trayectoria-p{
		width: 45%;
	}
}
@media(max-width: 498px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 60%;
	}
	.logo2 img{
		width: 40%;
	}
}
@media(max-width: 481px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 62%;
	}
	.texto-descriptivo{
		top: 10px;
		width: 30%;
	}
}
@media(max-width: 450px){
	.contenedor{
		width: 100%;
	}
	.formulario input{
		width: 72%;
	}
	.formulario textarea{
		width: 73.5%;
	}
	.formulario form .boton-enviar{
		width: 75%;
	}
	#btn-prev{
		left: -12px;
	}
	#btn-next{
		right: -12px;
	}
}
@media(max-width: 419px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 58%;
	}
	.logo2 #ver-mas2 p, .logo2 #ver-menos2 p{
		font-size: 0.7em;
	}
	.logo2 #ver-mas2 img,.logo2 #ver-menos2 img{
		height: 18px;
		width: 18px;
	}
}
@media(max-width: 414px){
	#izquierda-edicion{
		overflow: hidden;
	}
	.espacio-edicion{
		padding-top: 30%;
	}
	.img-edicion-1{
		margin-top: 2%;
	}
	.img-edicion-2{
		margin-top: 2%;
	}
	#izquierda-edicion .titulo-edicion .p-edicion{
		font-size: 0.6em;
	}
	#izquierda-edicion ul li i{
		padding-right: 5px;
	}
	#izquierda-edicion ul{
		font-size: 0.6em;
	}
	.espacio-experiencias{
		padding-top: 50%;
	}
	.img-experiencias-1{
		margin-left: -105px;
		margin-right: 5px;
	}
	#derecha-experiencias .titulo-experiencias .p-experiencias{
		font-size: 0.6em;
		width: 100%;
	}
	#derecha-experiencias ul{
		font-size: 0.6em;
		margin-left: 10%;
	}
	#derecha-experiencias ul li i{
		padding-right: 5px;
	}
	.img-trayectoria-1{
		height: 24px;
		margin-left: -310px;
		margin-right: 5px;
	}
	.p-trayectoria{
		font-size: 0.8em;
		padding-top: 5px;
	}
	.img-trayectoria-2{
		height: 24px;
		margin-left: 5px;
	}
	.rochi{
		width: 25%;
	}
	.img-prensa-1{
		height: 24px;
		margin-left: -320px;
		margin-right: 10px;
	}
	.p-prensa{
		font-size: 0.8em;
		padding-top: 5px;
		width: 25%;
	}
	.img-prensa-2{
		height: 24px;
		margin-left: 10px; 
	}
	#ver-mas a{
		width: 22%;
	}
	.titulo-contacto{
		overflow: hidden;
	}
	.img-contacto-1{
		height: 24px;
		margin-left: -70px;
	}
	.p-contacto{
		font-size: 0.8em;
		padding-top: 5px;
		width: 40%;
	}
	.img-contacto-2{
		height: 13px;
		width: 13px;
	}
	.texto-contacto p{
		font-size: 0.6em;
	}
	.actualizaciones p{
		font-size: 0.6em;
	}
	.formulario input{
		width: 60%;
	}
	.formulario textarea{
		width: 62%;
	}
	.formulario form .boton-enviar{
		width: 64%;
	}
	.pie-pagina img {
		margin-bottom: 0;
		width: 30%;
	}
	.texto-titulo-trayectoria-2{
		width: 40%;
	}
	.izquierda-trayectoria{
		padding-top: 0;
	}
	.texto-titulo-prensa-2{
		width: 30%;
	}
}
@media(max-width: 400px){
	.espacio-edicion{
		padding-top: 25%;
	}
	.texto-titulo-trayectoria-2{
		width: 42%;
	}
	.rochi{
		width: 28%;
	}
	.img-productos-1{
		margin-left: -100px;
	}
	.p-productos{
		width: 62%;
	}
	.contenedor-productos .submenu li{
		width: 94%;
	}
	.trayectoria-img-1{
		margin-left: -50px;
	}
	.trayectoria-p{
		width: 50%;
	}
	.trayectoria-p{
		width: 55%;
	}
}
@media(max-width: 399px){
	.titulo-locacion .p-locacion{
		width: 65%;
	}
	.titulo-locacion .img-locacion-1{
		margin-left: -100px;
	}
}
@media(max-width: 393px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 60%;
	}
	.texto-descriptivo{
		width: 33%;
	}
}
@media(max-width: 380px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 62%;
	}
}
@media(max-width: 368px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 64%;
	}
}
@media(max-width: 360px){
	 .p-productos{
	 	width: 65%;
	 }
}
@media(max-width: 356px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 66%;
	}
}
@media(max-width: 350px){
	#izquierda-edicion .titulo-edicion .p-edicion{
		width: 65%;
	}
	.texto-titulo-trayectoria-2{
		width: 48%;
	}
	.rochi{
		width: 30%;
	}
	.img-experiencias-1{
		height: 0;
		margin-left: 0;
	}
	.img-experiencias-2{
		height: 0;
	}
	.texto-titulo-prensa-2{
		width: 33%;
	}
	.espacio-edicion{
		padding-top: 15%;
	}
	#ver-mas a{
		width: 24%;
	}
	.img-productos-1{
		margin-left: -110px;
	}
	.p-productos{
		width: 68%;
	}
}
@media(max-width: 345px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 68%;
	}
}
@media(max-width: 335px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 70%;
	}
	.logo2 img{
		width: 50%;
	}
	.titulo-locacion .p-locacion{
		font-size: 0.95em;
		width: 70%;
	}
}
@media(max-width: 330px){
	.texto-titulo-trayectoria-2{
		width: 50%;
	}
	.texto-titulo-prensa-2{
		width: 35%;
	}
	.rochi{
		width: 32%;
	}
	.p-contacto{
		width: 45%;
	}
	.img-productos-1{
		margin-left: -120px;
	}
	.p-productos{
		width: 75%;
	}
}
@media(max-width: 326px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 72%;
	}
}
@media(max-width: 320px){
	#derecha-experiencias p{
		letter-spacing: 0.4em;
	}
	.texto-titulo-trayectoria-2{
		width: 53%;
	}
	.texto-titulo-prensa-2{
		width: 37%;
	}
	.espacio-experiencias{
		padding-top: 45%;
	}
}
@media(max-width: 316px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 74%;
	}
}
@media(max-width: 310px){
	.espacio-edicion{
		padding-top: 10%;	
	}
	.rochi{
		width: 34%;
	}
	#ver-mas a{
		width: 26%;
	}
}
@media(max-width: 308px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 76%;
	}
}
@media(max-width: 300px){
	.logo2 #ver-mas2 a, .logo2 #ver-menos2 a{
		width: 78%;
	}
}